rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isFabulosaAdmin() {
      return request.auth != null
        && request.auth.token.email == "fabulosaplay@gmail.com";
    }

    match /catalog/{document} {
      allow read: if true;
      allow write: if isFabulosaAdmin();
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
