.radio-universe {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #330000 0%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Corazones al fondo */
.background-hearts {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
}

/* Reproductor al frente */
.multimedia-container {
    position: relative;
    z-index: 10;
    width: 90%;
    max-width: 1050px;
    text-align: center;
}

.video-player-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #000;
    border: 3px solid #ff0033;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(255, 0, 51, 0.4);
    overflow: hidden;
}

.overlay-start {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.heart-pulse-main {
    font-size: 80px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.15); }
}

.main-name { color: white; font-size: 3rem; margin-top: 20px; text-shadow: 0 0 10px red; }
.slogan { color: #ff9999; letter-spacing: 4px; font-weight: bold; }
.back-home { color: white; text-decoration: none; position: absolute; top: -50px; left: 0; opacity: 0.8; }